@import "_mixins.scss";

.main{
    font-family: 'Nunito', sans-serif;
    background-color:$color3;
}
.categoria, .novedades{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.producto{
    width:400px;
    height:680px;
    border: 3px $color1 solid;
    margin:10px;
    border-radius:20px;
    h2, p{
        text-align: center;
    }
    img{
        display: block;
        margin:auto;
        border: 5px $color2 solid;
        border-radius:30px;
        padding:4px;
    }
    button{
        display:block;
        margin:auto;
        margin-top:40px;
        padding: 16px 60px 16px 60px;
        background-color: $color2;
        border-radius:10px;
    }
}
.novedad{
    background-color:$color1;
    margin:0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top:20px;
    padding-bottom:20px;
    font-size: 1.3rem;
}
.novedades{
    border:10px $color1 solid;
    margin-left:50px;
    margin-right:50px;
    margin-bottom:50px;
    border-radius:20px;
}
@media(max-width:567px){
    .novedades{
        margin-right:5px;
        margin-left:5px;
        margin-bottom:50px;
    }
}